Items in basket

%table
  %thead
    %th Name
    %th Price
    %th Unit Price
    %th Quantity
    %th Total Price
    %th Actions
  %tbody
    - @basket.order_items.includes(:item).each do |order_item|
      %tr
        %td= order_item.item.name
        %td= order_item.item.price
        %td= order_item.unit_price
        %td= order_item.quantity
        %td= order_item.total_price
        %td
          = link_to '+1', '#'
          = link_to '-1', '#'
