%h3
  Items
%table.table.table-bordered
  %thead
    %th Name
    %th Price
    %th Discount
    %th Actions
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.price
        %td= item.discount
        %td
          - if @basket_items.include?(item)
            Already added to list.
          - else
            = link_to 'Add to Basket', add_to_basket_item_path(item)
= paginate @items
