!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shopping App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div
      = link_to "Basket: #{current_basket.order_items.count}", basket_path
      = link_to 'Empty Basket!', basket_path, method: :delete if current_basket.order_items.count > 0
      = link_to 'Edit Basket', edit_basket_path if current_basket.order_items.count > 0
    = yield
